:root {
  --brand-color: #ff3d00;
  --main-color: #ffffff;
  --second-color: #949aa9;
}
body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  max-width: 800px;
  padding-top: 245px;
  position: relative;
  text-align: start;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color);
  text-align: start;
}
h2 {
  color: var(--second-color);
  font-size: 25px;
}
.typeText::after {
  content: "|";
  animation: blink 1s infinite;
  color: var(--main-color) !important;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typeText {
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
}
.navbar {
  padding: 0;
  margin-top: 35px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li + li {
  margin-left: 30px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--second-color);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--brand-color);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--main-color);
}
.socials a {
  color: var(--main-color);
  font-size: 20px;
  font-kerning: 15px;
}
.instagram,
.linkedin,
.github {
  padding: 0 10px;
}
.custom-toggler {
  color: var(--main-color);
}

#nav {
  position: relative;
  align-items: flex-start;
}
@media (max-width: 768px) {
  #fas #fa-bars {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .navbar-nav li{
        float: left;
    }
    .navbar-nav a:hover{
        background-color: transparent;
        color: var(--second-color);

    }
}
.nav-second{
    position: absolute;
top: 0%;
width: 100%;
}
#name-head {
 font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  text-align: left;
  padding: 0;

}