:root {
  --brand-color: #e95a2f;
  --main-color: #ffffff;
  --second-color: #949aa9;
}
body {
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
}
video {
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  max-width: 75%;
  padding-top: 245px;
  position: relative;
  text-align: start;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color);
  text-align: start;
}
h2 {
  color: var(--second-color);
  font-size: 25px;
}
.typeText::after {
  content: "|";
  animation: blink 1s infinite;
  color: var(--main-color) !important;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typeText {
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
}

.navbar {
  padding: 0;
  margin-top: 35px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li + li {
  margin-left: 30px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  color: var(--second-color);

  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--brand-color);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--main-color);
}
.socials a {
  color: var(--main-color);
  font-size: 20px;
  font-kerning: 15px;
}
.instagram,
.linkedin,
.github {
  padding: 0 10px;
}
.custom-toggler {
  color: var(--main-color);
}

#nav {
  position: relative;
  align-items: flex-start;
}
@media (max-width: 768px) {
  #fas #fa-bars {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .navbar-nav li {
    float: left;
  }
  .navbar-nav a:hover {
    background-color: transparent;
    color: var(--second-color);
  }
}
.nav-second {
  position: absolute;
  top: 0%;
  width: 100%;
}
#name-head {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  text-align: left;
  padding: 0;
}
.container-about {
  max-width: 800px;

  position: relative;
  text-align: start;
}
img {
  border-radius: 20px;
}

@media (max-width: 768px) {
  #nav-mobile {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
}
.topcorner {
  position: absolute;
  top: 10;
  right: 15;
}
/*-------ABOUT-------*/
.container-about-whole,
.container-portfolio-whole {
  max-width: 100%;
  background-color: #020203;
  padding: 15px;
  border-radius: 6px;
}
h4::after {
  content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: var(--brand-color);
  margin: 4px 10px;
}
h4 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding: o;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  color: var(--second-color);
}
.learn-about-me,
.check-resume,
.my-services,
.my-work {
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  color: var(--main-color);
}
h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  color: var(--brand-color);
}
.about-p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--main-color);
}
.contact-link {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 800;
}
.contact-link:hover {
  color: var(--main-color);
  cursor: pointer;
  text-decoration: underline;
}
i {
  color: var(--brand-color);

  text-align: left;

  font-size: 24px;
}

#count {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: var(--main-color);
}
.about-label {
  text-align: left;
  font-size: 15px;
  color: var(--main-color);
  padding-bottom: 33px;
  font-weight: 800;
}
.skill {
  color: var(--main-color);
  padding-bottom: 6px;
}
p {
  color: var(--brand-color);
}
h5 {
  color: var(--main-color);
  padding-top: 4px;
}
.icon-box {
  font-size: 8px !important;
}
/*Resume Page*/
.container-resume-whole {
  max-width: 100%;
  background-color: #020203;
  padding: 15px;
  border-radius: 6px;
}
.resume-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  color: var(--main-color);
}
.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #35383f2b;
  position: relative;
}
.resume-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  left: -7px;
  top: 0;
  background: var(--brand-color);
  border: 2px solid var(--brand-color);
}

.resume {
  font-size: 18px;
  text-transform: uppercase;
}
.resume-type,
.service-type {
  color: var(--main-color);
  font-size: 16px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.lower {
  text-transform: none;
}
.lw-link {
  color: var(--brand-color);
  text-decoration: none;
}
.lw-link:hover {
  color: var(--main-color);
  cursor: pointer;
}
/*--Services--*/
.container-services-whole {
  max-width: 100%;
  background-color: #020203;
  padding: 15px;
  border-radius: 6px;
}
.box {
  background-image: initial;
  background-color: rgba(53, 57, 59, 0.08);
  text-align: left;
  border-radius: 4px;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}
.icon {
  color: var(--second-color);
}
.services {
  font-size: 24px;
  color: var(--brand-color);
}

.port-label {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 500;
}
.icon-link{
  color: var(--second-color);
  font-size: 19px;
}